/* Colors */

$gold: #F5A81C;
$light-blue: #27AAE1;
$green: #009444;
$blue: #00508F;
$header-blue: #002039;
$magenta: #83334A;
$marine: #156570;
$red: #983222;
$dark-green: #00685B;
$dark-yellow: #B19400;
$grey: #888888;
$black: #222;
$offwhite: #f5f3f0;
$text-grey: #42484d;
$text-grey-light: #666;
$blog-post-background: #F8F8F8;
$background-blue: #012E50;