/* Fonts */

/*
Futura Condensed

book:
----
font-family: 'Futura W01 Book', sans-serif;

medium:
------
font-family: 'Futura W01 Medium', sans-serif;

medium condensed:
-----------------
font-family:'FuturaBTW01-MediumConde', sans-serif;

bold condensed:
---------------
font-family:'FuturaBTW01-BoldCondens', sans-serif;

heavy:
-----
font-family: 'Futura W02 Heavy', sans-serif;

*/
