/* **************************************** */
/*                                          */
/*       ------  My Favorites  ------       */
/*                                          */
/* **************************************** */

.PageUtility,
.PageUtility_Wrapper {
	z-index: 1 !important;
	.UtilityButton {
		z-index: 1;
		&:hover {
			color: $light-blue;
		}
	}
}


#Utility_MyFavorites,
#Utility_AddPage,
#Utility_Print,
#Utility_Share {
	&:after {
		color: $light-blue;
		font-family: FontAwesome;
		padding-left: 5px;
		position: absolute;
	}
}

#Utility_MyFavorites:after {
	content: "\f004";
	top: 16px;
}

#Utility_AddPage,
#Utility_Print,
#Utility_Share
{
	&:after {
		content: "\f055";
		font-size: 14px;
		top: 13px;
	}
}